# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environments (DO NOT UPLOAD THESE)
venv/
env/
ENV/

# Environment Variables / Secrets
.env

# IDE Settings
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/
